.main{

    p{
        color: pink;
        &:hover{
            color: red;
        }
    }
    h1{
        color: purple;
    }
    .foo{
        width: 50%;
    }
    .foo2{
        font-size: 30px;
    }
}