body{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-1{
    width: 30%;
    height: 200px;
    background:red;
}

.block-2{
    width: 30%;
    height: 200px;
    background:greenyellow;
}

.block-3{
    width: 30%;
    height: 200px;
    background: purple;
}



@media screen and (max-width:768px){
    body{
        flex-direction: row;
    }
    .block-1, .block-2, .block-3{
        width: 50%;
    }

}

@media screen and (max-width:420px){
    .block-1, .block-2, .block-3{
        width: 100%;
    }

}

/*@media screen and (min-width:991px){
    body{
        flex-direction: row;
    }
    .block-1{
        width: 50%;
    }
    .block-2{
        width: 50%;
    }
}*/

/*@media(min-width: 768px) and (max-width: 991px) {
    body{
        flex-direction: row;
    }
    .block-1{
        width: 50%;
    }
    .block-2{
        width: 50%;
    }
}*/
