$font-size: 20px;

@mixin flex($fd, $jc, $ai){
    display: flex;  
    flex-direction:  $fd;
    justify-content: $jc;
    align-items: $ai;
}

.flex-container{
    @include flex(column, flex-end, flex-start);
    .flex-element{
        width: 50%;
        height: 500px;
        background-color: red;
        color: white;
        &:hover{

        }
    }
}

.block{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 50px;
    color: black;
    @include flex(row, center, center);
    @include animation(all, 2s);
    &:hover{
        width: 300px;
    }
}